@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

header, nav{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
}

.top-header{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.bottom-header{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 100px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}

.hero{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 700px;
}

.hero .heading{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

li{
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

nav ul{
    display: inline-flex;
    justify-content: flex-end;
    gap: 25px;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    width: 100px;
    height: auto;
    border-radius: 7px;
    border-width: 0;
    padding: 5px;
}

.heading{
    width: 500px;
    height: auto;
}

.info-heading{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 45px;
}

figure{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.figures{
    display: flex;
    justify-content: center;
}

figcaption{
    width: 212px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: dimgrey;
}

.quote-section{
    background-color: #E5E7EB;
    padding-left: 450px;
    padding-right: 450px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-by{
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: flex-end;
}

.call-to-action{
    background-color: #3882F6;
    margin: 80px 200px;
}

.messages{
    color: #F9FAF8;
}

.action-box{
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
}